@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="home">
    <div class="background_image" style="background-image:url(/Content/images/Location.jpg)"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content text-center">
                        <div class="home_title">Password Confirmation</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
        <p class="text-danger">
            For DEMO only: You can click this link to reset password: <a href="@ViewBag.Link">link</a>
            Please change this code to register an email service in IdentityConfig to send an email.
        </p>
    </div>
</div>
